<div class="mt-4">
    <form class='mt-3' method="POST" action="/admin/publishers/stored" >
        <h3>Thêm nhà xuất bản</h3>
        <div class="mb-3">
            <label for="namePublisher" class="form-label">Tên nhà xuất bản</label>
            <input type="text" class="form-control" id="namePublisher" name="namePublisher">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>