<div class="mt-4">
    <form class='mt-3' method="POST" action="/admin/staffs/stored" >
        <h3>Thêm nhân viên</h3>
        <div class="mb-3">
            <label for="nameStaff" class="form-label">Tên nhân viên</label>
            <input type="text" class="form-control" id="nameStaff" name="nameStaff">
        </div>
        <div class="mb-3">
            <label for="phoneStaff" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneStaff" name="phoneStaff">
        </div>
        <div class="mb-3">
            <label for="addressStaff" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="addressStaff" name="addressStaff">
        </div>
        <div class="mb-3">
            <label for="emailStaff" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailStaff" name="emailStaff">
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>