@import 'variables';

* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.select-all-delete {
    width: 200px;
}

.font-weight-bold {
    font-weight: bold;
}

button[type='submit'] {
    width: 100px;
}

footer {
    background-color: rgb(3, 2, 2);
    color: white;
}
