<div class="mt-4">
    <form class='mt-3' method="POST" action="/admin/violates/stored" >
        <h3>Tạo vi phạm mới</h3>
        <div class="mb-3">
            <label for="nameViolate" class="form-label">Tên vi phạm</label>
            <input type="text" class="form-control" id="nameViolate" name="nameViolate">
        </div>
        <div class="mb-3">
            <label for="contentViolate" class="form-label">Nội dung vi phạm</label>
            <input type="text" class="form-control" id="contentViolate" name="contentViolate">
        </div>
        <div class="mb-3">
            <label for="penalizeViolate" class="form-label">Hình thức xử phạt</label>
            <input type="text" class="form-control" id="penalizeViolate" name="penalizeViolate">
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>