<div class="mt-4">
    <form class='mt-3' method="POST" action="/admin/users/stored" >
        <h3>Thêm người dùng</h3>
        <div class="mb-3">
            <label for="nameUser" class="form-label">Tên người dùng</label>
            <input type="text" class="form-control" id="nameUser" name="nameUser">
        </div>
        <div class="mb-3">
            <label for="majorUser" class="form-label">Ngành học</label>
            <input type="text" class="form-control" id="majorUser" name="majorUser">
        </div>
        <div class="mb-3">
            <label for="phoneUser" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneUser" name="phoneUser">
        </div>
        <div class="mb-3">
            <label for="addressUser" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="addressUser" name="addressUser">
        </div>
        <div class="mb-3">
            <label for="emailUser" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailUser" name="emailUser">
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>