<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">
      <img src="/img/logo.png" alt="" width="150" height="50" class="d-inline-block align-text-top">
      Admin Truong-Tai-Library
    </a>
  </div>
</nav>